page-main {
    
}

.giftImage{
    width: 128px;
    height: 128px;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.bonusGiftImage {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}