page-main {
    
}

.giftImage{
    width: 128px;
    height: 128px;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.bonusGiftImage {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.ion-md-logoff {
    content: url(../../assets/img/ico_logoff.svg);
    width: 24px;
    height: 32px;
    padding: 6px 4px 2px;
    margin: 5px;
    opacity: 0.9;
  }