page-game {
    
}

/* ------------------------------------------------------------------------ */
/* Classes que exibirão as devidas cores indicando o acerto/erro da questão */
/* ------------------------------------------------------------------------ */
.correct-answer{
    color: green;
}

.wrong-answer{
    color: red;
}

.alternative{
    background-color: #efefef;
}

.correct-alternative{
    background-color: green;
}

.wrong-alternative{
    background-color: red;
}

/* ---------------------------------------------------------------------- */
/* Classes que servem para a criação dos quadro com a questão/alternativa */
/* ---------------------------------------------------------------------- */

#containerQuestion, #containerAlternatives {
    display: inline-block;
    position: relative;
    margin: 0px;
    width: 100%;
  }

/* ---------------------------------------------------------- */
/* Classes que servem para a criação do quadro com a questão */
/* --------------------------------------------------------- */
$frameQuestionHeight: 165px;
#frameQuestion{
    width: 100%;
    height: $frameQuestionHeight;
}

/* --------------------------------------------------------------- */
/* Classes que servem para a criação do quadro com as alternativas */
/* --------------------------------------------------------------- */
$frameAlternativeHeight: 65px;
.frameAlternative{
    width: 100%;
    height: $frameAlternativeHeight;
}

$containerAlternativesMarginTop: 5px;
#containerAlternatives{
    margin-top: $containerAlternativesMarginTop;
}
/* ------------------------------------------------------------- */
/*         Classes utilizadas para exibição do cronômetro        */
/* ------------------------------------------------------------- */
#containterStopWatch{
    text-align: left;
    position: absolute;
}

#stopWatchImage{
    width: 25%;
    margin-left: 0px;
}

#stopWatchTimer{
    font-size: 18pt;
    position: absolute;
    top: 55%;
    left: 12.5%;
    transform: translate(-50%, -50%);
}

/* ------------------------------------------------------------- */
/*          Classes utilizadas para exibição da pontuação        */
/* ------------------------------------------------------------- */
#containterScore{
    text-align: right;
    position: absolute;
}

#scoreImage{
    width:27.5%;
}

#scorePoints{
    color:#832b00;
    font-size: 18pt;
    position: absolute;
    left: 86.25%;
    top: 20%;
    text-align: center;
    transform: translate(-50%, -50%);
}

/* ------------------------------------------------------------- */
/* Classes utilizadas para definição dos textos exibidos na tela */
/* ------------------------------------------------------------- */
#txtQuestion, #txtAlternative, #txtLevelQuestion, #txtSectionQuestion {
  position: absolute;
  top: 0px;
  color: black;
  margin: 8px;
  text-align: center;
}

#txtQuestion{
    font-size: 20px;
}

#txtAlternative{
    font-size: 16px;
    width: 100%;
    height: 100%;
    padding-right: 5%;
}

#txtLevelQuestion, #txtSectionQuestion{
    width: 100%;
    padding-right: 5%;
    top: 71%;
    font-size: 12px;
}

#txtLevelQuestion{
    text-align: left;
}

#txtSectionQuestion{
    text-align: right;
}